 @font-face {
     font-family: firstFont;
     src: url(/fonts/LeagueGothic-Regular.otf);
 }
 
 @font-face {
     font-family: SecondFont;
     src: url(/fonts/HelveticaNeueLTPro-Bd.otf);
 }
 
 body {
     overflow-x: hidden;
 }
 
 .FirstMain {
     position: relative;
     background-image: url(../images/bg1.jpg);
     background-size: cover;
     background-attachment: fixed;
 }
 
 .sec1 {
     position: relative;
     background-image: url(../images/bg1.jpg);
     background-size: cover;
     background-attachment: fixed;
 }
 
 .FirstMain::before {
     content: "";
     padding: 100px 0 400px;
     height: 100%;
     width: 100%;
     position: absolute;
     background-image: url(../images/bg1-fade.jpg);
     background-size: cover;
     background-attachment: fixed;
     opacity: 1;
 }
 
 .sec1::before {
     padding: 100px 0;
     content: "";
     height: 100%;
     width: 100%;
     position: absolute;
     background-image: url(../images/bg1-fade.jpg);
     background-size: cover;
     background-attachment: fixed;
     opacity: 0;
 }
 
 .altlog {
     opacity: 0;
 }
 
 .secondmain,
 .thirdmain {
     height: 100%;
     width: 300%;
     position: relative;
 }
 
 .sec1,
 .sec2,
 .sec3,
 .sect1,
 .sect2,
 .sect3 {
     width: 33.33%;
     position: absolute;
 }
 
 .sec1,
 .sect1 {
     left: 0;
 }
 
 .sec2,
 .sect2 {
     left: 33.33%;
 }
 
 .sec3,
 .sect3 {
     left: 66.66%;
 }
 
 header {
     position: fixed;
     background: #0e1521;
     top: 0;
     left: 0;
     width: 100%;
     padding: 10px;
     z-index: 999;
 }
 
 header img {
     width: 50px;
 }
 
 .nav-bar {
     background-image: url(../images/nav-icon.png);
     width: 21px;
     height: 21px;
     display: block;
     cursor: pointer;
     float: right;
     background-size: cover;
     background-position: center;
 }
 
 .cont {
     color: white;
     font-family: firstFont;
 }
 
 .cont h1 {
     font-size: 68px;
 }
 
 .bord {
     border: 10px solid #fdfdfe;
     opacity: 0;
     width: 80%;
     margin: auto;
 }
 
 .cont h4 {
     text-align: center;
     font-size: 28px;
     color: #616a7a;
     font-family: 'Farro', sans-serif;
     text-align: center;
     position: relative;
     z-index: 5;
 }
 
 .back {
     background: #fdfdfe;
     width: 70%;
     opacity: 0;
     margin: auto;
     transform: translateY(-30px);
 }
 
 .back h4 {
     font-size: 28px;
     font-family: firstFont;
 }
 
 .cont {
     position: relative;
 }
 
 .dash {
     height: 365px;
     width: 4px;
     border-right: 4px dashed #fdfdfe;
     display: block;
     position: absolute;
     z-index: 1;
     left: 50%;
     margin-left: -2px;
     opacity: 0;
     transform: translateY(60px);
 }
 
 .aptech {
     border: 10px solid #fdfdfe;
     padding: 2px 17px 0 17px;
     width: 65%;
     margin: auto;
 }
 
 .aptech h1 {
     font-size: 60px;
     font-family: firstFont;
     margin: 0;
 }
 
 .content {
     background-color: white;
     color: #616a7a;
     overflow: auto;
 }
 
 .cont-left {
     width: 70%;
 }
 
 .cont-right {
     width: 30%;
     display: flex;
     align-items: center;
 }
 
 .cont-left p {
     font-size: 13px;
     line-height: 20px;
     padding: 20px 20px;
     margin: 0;
     font-weight: lighter;
     text-align: left;
     font-weight: 300;
 }
 
 .lefttext {
     float: left;
     width: 50%;
 }
 
 .lefttext h4 {
     font-size: 130px;
     font-weight: 400;
     font-family: firstFont;
 }
 
 .righttext {
     float: left;
     width: 50%;
 }
 
 .righttext h4 {
     font-weight: 400;
     font-family: firstFont;
     font-size: 30px;
     text-align: left;
     word-spacing: 30px;
 }
 
 .testimonal {
     float: right;
     width: 400px;
     position: relative;
     background: rgb(14, 21, 33);
     transform: translateX(80%);
     padding: 15px 20px 0px 20px;
     transition: all 1s ease 0s;
     color: white;
     opacity: 0;
 }
 
 .testimonal p {
     font-size: 12px;
     text-align: left;
     line-height: 2;
     display: block;
 }
 
 .testimonal p strong {
     color: #5e7c9d;
     text-transform: uppercase;
     font-weight: bold;
     display: block;
 }
 
 .speech-open {
     width: 30px;
     height: 30px;
     position: absolute;
     top: 0;
     left: -30px;
     background-image: url(../images/speech-open.png);
     background-size: cover;
 }
 
 .speech-close {
     width: 30px;
     height: 30px;
     position: absolute;
     bottom: 0;
     right: -30px;
     background-image: url(../images/speech-close.png);
     background-size: cover;
 }
 
 .sec2 {
     background-image: url(../images/diagonal-bg.png);
     background-size: cover;
     padding: 100px 400px 50px 400px;
 }